* {
    color: var(--white);
    font-family: Arial;
    padding: 10px;
    margin: 10px;
}

/* This is the universal rule selector*/

#header {
    display: flex;
    top: 0;
    height: 200px;
    width: 100%;
    z-index: 100;
    background-color: teal;
    background-image: ;
    background-position: center;
    background-size: ;
    font-size: 20px;
    font-weight: 1px;
    text-align: right;
}

#nav {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}

#backgroundImage {
    background-color: var(--white);
    background-position: center;
    background-size: auto;
    background-image: url("./media/DataViz1.gif")
}

.p {
    color: var(--black);
    font-family: Arial;
}

#absolute-box {

}

.section {
    color: var(--black);
}

#featuredProjects {
    background-position: center;
    display: grid;
}

.heading {
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    height: 20px;
    font-size: 16px;
    border-bottom: 5px teal;
    
}

/*This section below contains the footer for my page*/

.footer {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: teal;
    text-align: center;
}

/*This 1st section contains the "variables" section for all variables featured
in this stylesheet, including color, etc */

:root {
    --black: #000;
    --white: #fff;
}

/* This last section includes the resizing options for my website, based on the 
adjusted width of the website, whether a window is adjust or whether seen on 
another device, such as mobile, tablet, etc. */
@media