* {
    color: var(--white)
}

/* This is the universal rule selector*/

#header {
    display: flex;
    top: 0;
    height: 200px;
    width: 100%;
    z-index: 100;
    background-color: blue;
    background-image: ;
    background-position: auto;
    background-size: ;
    font-size: 20px;
    font-family: Verdana;
    font-weight: 1px;
    text-align: right;
    padding: 10px;
    margin: 10px;
}

#nav {
    text-align;
}

#backgroundImage {
    background-color: var(--white);
    background-position: center;
    background-size: auto;
    background-image: url("./media/DataViz1.gif")
}

#absolute-box {

}

.section {
    color: var(--black);
}

/*This section below contains the footer for my page*/

.footer {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: var(--black);
    text-align: center;
}

/*This 1st section contains the "variables" section for all variables featured
in this stylesheet, including color, etc */

:root {
    --black: #000;
    --white: #fff;
}

/* This last section includes the resizing options for my website, based on the 
adjusted width of the website, whether a window is adjust or whether seen on 
another device, such as mobile, tablet, etc. */
@media