* {
    color: var(--white);
    font-family: Arial;
    padding: 10px;
    margin: 10px;
}

/* This is the universal rule selector*/

header {
    display: flex;
    top: 0;
    height: 200px;
    width: 100%;
    background-color: teal;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    font-weight: 1px;

}

h1 {
    font-size: 150%;
}

nav ul {
    display: flex;
    background-color: teal;
    font-family: Tahoma;
    justify-content: space-between;
    align-items: right;
}

nav a {
    color: rgb(61, 81, 81);
    text-decoration: none;
}

nav a:hover {
    color: var(--white);
}

.Banner {
    background-position: center;
    width: 100%;
    height: 60px;
}

section {
    color: var(--black);
}

h2, h3 {
    display: flex;
    font: Helvetica;
    color: var(--black);
    border-bottom: 2px solid teal;
    text-align: center;
    justify-content: center;
    width: 300px;
    margin: 40px auto;
}

.ProfilePhoto {
    display: flex;
    height: 250px;
    width: 200px;
    background-position: center;
}

p {
    color: var(--black);
    font-family: Arial;
    text-align: center;
}

#FeaturedProjects {
    margin: 0 5%;
    display: grid;
    grid-template-rows: 250px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'Climate Math Physics';
}

.FeaturedProjectsArea {
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: grid;
    align-content: end;
}

#Climate {
    grid-area: 'Climate';
    background-image: url("./media/Daily\ Air\ Temp.gif");
}

#Math {
    grid-area: 'Math';
    background-image: url('./media/DataViz1.gif')
}

#Physics {
    grid-area: 'Physics';
    background-image: url('./media/Quantum.gif');
    background-size: auto;
}

#projectsGrid {
    margin: 0 5%;
    display: grid;
    grid-template-rows: 250px 250px 250px 250px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "calculator calculator calculator"
    "Image1 Textbox1 Textbox1"
    "Textbox2 Textbox2 Image2"
    "Calculator2 Calculator2 Calculator2"
    ;
}

#calculator {
    grid-area: calculator;
    background-image: url('./media/Calculator\ Vector.jpeg');
}

#Image1 {
    grid-area: Image1;
}

#Textbox1 {
    grid-area: Textbox1;
    background-image: url('./media/Textbox.jpeg')
}

#Textbox2 {
    grid-area: Textbox2;
    background-image: url('./media/Textbox.jpeg')
}

#Image2 {
    grid-area: Image2;
}

#Calculator2 {
    grid-area: Calculator2;
}

.ProjectsArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
}

.heading {
    background-color: rgba(0,0,0,0.6);
    height: 20px;
    font-size: 20px;
    border-bottom: 2px solid teal;
    align-content: end;
}

/*This section below contains the footer for my page*/

footer {
    display: flex;
    justify-content: center;
    color: var(--white);
    padding: 2%;
    background-color: teal;
}

/*This 1st section contains the "variables" section for all variables featured
in this stylesheet, including color, etc */

:root {
    --black: #000;
    --white: #fff;
}

/* This last section includes the resizing options for my website, based on the 
adjusted width of the website, whether a window is adjust or whether seen on 
another device, such as mobile, tablet, etc. */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}